<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a routerLink="/">
                <span class="mdl-layout-title">myFarm</span>
            </a>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" [routerLink]="'/'">Dashboard</a>
                <a class="mdl-navigation__link" [routerLink]="'/profile'">Profile</a>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content"><router-outlet></router-outlet></div>
    </main>
</div>

<div *ngIf="loading" class="overlay">
    <app-spinner></app-spinner>
</div>
